<ion-view title="Battle Page" hide-tab-bar ng-controller="BattleDetailsController">
  <ion-content>
    <div class="card">
	  <div class="item row">
		  	<div class="col col-46 center">
		  		<div>
					<img src="{{whichBattle.warriors[0].photourl}}" class="warrior-profile-photo">
				    <h2>{{whichBattle.warriors[0].name}}</h2>
				    <img src="{{whichBattle.warriors[0].country.flagphotourl}}" class="
		    			warrior-country-flag-photo">
		  		</div>
		  	</div>
        	<div class="col col-8 col-center center">
        		<h2>vs</h2>
        	</div>
		    <div class="col col-46 center">
		    	<div ng-class="{hide : whichBattle.battletype.type === 'open'}">
		    		<img src="{{whichBattle.warriors[1].photourl}}" class="warrior-profile-photo">
				    <h2>{{whichBattle.warriors[1].name}}</h2>
				    <img src="{{whichBattle.warriors[1].country.flagphotourl}}" class="
		    			warrior-country-flag-photo">
		    	</div>

		    	<div ng-class="{hide : whichBattle.battletype.type !== 'open'}" ng-click="$event.stopPropagation(); captureVideo();">
		    		<button class="button icon ion-mic-c battle-challenge-button"></button>
		    	</div>
	  		</div>
		</div>	    

	  <div class="item item-body" ng-click="toggleVideo()">
   		<video cache-view="false" class="video_content" width="100%" height="50%" id="videodetails">
   			<source ng-src="{{warrior1battlesrc}}" type='video/mp4' />
		</video>
		<div class="playpause" id="playpausedetails"></div>
	  </div>

	  <div class="button-bar">
		  <a class="button button-icon icon ion-thumbsup" ng-class="{battlevoteactive: whichBattle.isvoted === true}" ng-click="toggleVote($index)"></a>
		  <a class="button button-icon icon ion-chatbubble-working" ng-click="commentOnBattle($index)"></a>
		  <a class="button button-icon icon ion-android-share" ng-click="shareBattle($index)"></a>
	  </div>

	   <div class="item item-input-inset">
	   	<div class="battle-details-comment-parent">
	   		<textarea id="detailscommenttextarea" type="text" maxlength="200" ng-trim="false" class="battle-details-comment" ng-model="$parent.usercomment" placeholder="Write your comment..."></textarea>
	   		<p class="battle-details-comment-counter">{{200 - usercomment.length}} left</p>
	   	</div>
	    <a class="button button-icon icon ion-paper-airplane" ng-click="postComment()"></a>
	  </div>

	  <ion-list
          show-delete="shouldShowDelete"
          show-reorder="shouldShowReorder"
          can-swipe="listCanSwipe"
          ng-hide="comments.length === 0"
          >
		  <ion-item ng-repeat="comment in comments"
		            class="item-avatar item-text-wrap">

		    <img ng-src="{{comment.commentby.photourl}}">
		    <h3 class="battle-details-comment-list-name">{{comment.commentby.name}}</h3>
		    <p class="battle-details-comment-list-timestamp"><time-ago from-time='{{ comment.timestamp }}'></time-ago></p>		
		    <p class="battle-details-comment-list-comment item-text-wrap">{{comment.comment}}</p>

		    <ion-option-button class="button-positive"
		                       ng-click="share(item)">
		      Share
		    </ion-option-button>
		    <ion-option-button class="button-info"
		                       ng-click="edit(item)">
		      Edit
		    </ion-option-button>
		    <ion-delete-button class="ion-minus-circled"
		                       ng-click="items.splice($index, 1)">
		    </ion-delete-button>
		    <ion-reorder-button class="ion-navicon"
		                        on-reorder="reorderItem(item, $fromIndex, $toIndex)">
		    </ion-reorder-button>

		  </ion-item>
		</ion-list>
		  	
  </div>
 
  </ion-content>
  <ion-footer-bar align-title="center" class="bar bar-light" ng-hide="whichBattle.battletype.type !== 'open'">
	  <div class="button-bar">
		  <button class="button button-positive ion-icon ion-music-note icon-left padding uppercase" ng-click="captureVideo()">
			  BATTLE {{whichBattle.warriors[0].name}}
		  </button>
	  </div>
  </ion-footer-bar>
</ion-view>