<!-- <ion-view hide-nav-bar="true"> 
	<ion-content class="home-content">

    <div class="list card" ng-repeat="item in parties">

	<div class="item item-avatar">
	    <img src="img/{{item.shortname}}_tn.jpg">
	    <h2>{{item.name}}</h2>
	    <p>{{item.description}}</p>
	</div>

 	<div class="item item-body image-relative">
		<div class="item item-image home-event-cover-photo">
	    	<img src={{item.cover_image}} alt="{{item.name}} Photo">
	    	<h4 class="text-absolute">₹{{$index+100}} - ₹199</h4>
    </div>

	  <div class="button-bar">
		  <a class="button button-icon icon ion-heart" ng-click="goingToEvent($index)"></a>
		  <a class="button button-icon icon ion-chatbubble-working" ng-click="commentOnEvent($index)"></a>
		  <a class="button button-icon icon ion-android-people" ng-click="showPeopleGoingToEvent($index)"></a>
	  </div>

	</div>

	</ion-content>
</ion-view> -->

<ion-view ng-controller="VideoCtrl as controller" hide-nav-bar="true">
  <ion-content>
  <div class="list card" ng-repeat="battle in battles">
	  <div class="item row">
		  	<div class="col col-46 center">
		  		<div>
					<img src="{{battle.warrior1ProfilePhoto}}" class="warrior-profile-photo">
				    <h2>Marty McFly</h2> 
		  		</div>
		  	</div>
        	<div class="col col-8 col-center center">
        		<h2>vs</h2>
        	</div>
		    <div class="col col-46 center">
		    	<div>
		    		<img src="{{battle.warrior2ProfilePhoto}}" class="warrior-profile-photo">
			    	<h2>Josh King</h2>  
		    	</div>
	  		</div>
		</div>	    

	  <div class="item item-body">
   		<video controls class="video_content" width="100%" height="50%" ng-click="
   			playVideo($index)">
   			<source ng-src="{{battle.battleSrc}}" type='video/mp4' />
		</video>
	</div>

	<div class="button-bar">
		  <a class="button button-icon icon ion-thumbsup" ng-click="voteBattle($index)"></a>
		  <a class="button button-icon icon ion-chatbubble-working" ng-click="commentOnBattle($index)"></a>
		  <a class="button button-icon icon ion-android-share" ng-click="shareBattle($index)"></a>
	  </div>
</ion-list>
  	
	<!-- <videogular vg-theme="controller.config.theme.url">
        <vg-media vg-src="controller.config.sources"
                  vg-tracks="controller.config.tracks"
                  vg-native-controls="true">
        </vg-media>
    </videogular> -->
		<!-- <img ng-src="{{urlForClipThumb(clip)}}" ng-click="showClip(clip)" style="height: 250px; width: 150px;"/> -->
  </div>
 
  </ion-content>
  <ion-footer-bar align-title="center" class="bar bar-light">
	  <div class="button-bar">
		  <button class="button button-positive ion-icon ion-music-note icon-left padding" ng-click="captureVideo()">
			  START BATTLE
		  </button>
	  </div>
  </ion-footer-bar>
</ion-view>